<!DOCTYPE html>
<html>
  <head>
    <title>order</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
  </head>
  <body>

    <!-- Inicio navbar -->
<!-- Main navigation container -->
<nav
  class="flex-no-wrap relative flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Hamburger button for mobile view -->
    <button
      class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>

    <!-- Collapsible navigation container -->
    <div
      class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
      id="navbarSupportedContent1"
      data-te-collapse-item>
      <!-- Logo -->
      <a
        class="mb-4 ml-2 mr-5 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
        href="#">
        <img
          src="/images/logo.jpeg"
          style="height: 15px"
          alt="TE Logo"
          loading="lazy" />
      </a>
      <!-- Left navigation links -->
      <ul
        class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
        data-te-navbar-nav-ref>
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
          <!-- Dashboard link -->
          <a
            class="text-neutral-500 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400"
            href="#"
            data-te-nav-link-ref
            >Pedido a Realizar</a
          >
        </li>
      </ul>
    </div>

    <!-- Right elements -->
    <div class="relative flex items-center">

      <!-- Container with two dropdown menus -->
      <div
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end">
        <!-- First dropdown trigger -->
        <a
          class="hidden-arrow mr-4 flex items-center text-neutral-600 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
          href="#"
          id="dropdownMenuButton1"
          role="button"
          data-te-dropdown-toggle-ref
          aria-expanded="false">
          <!-- Dropdown trigger icon -->
          <span class="[&>svg]:w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-5 w-5">
              <path
                fill-rule="evenodd"
                d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z"
                clip-rule="evenodd" />
            </svg>
          </span>
          <!-- Notification counter -->
          <span
            class="absolute -mt-4 ml-2.5 rounded-full bg-danger px-[0.35em] py-[0.15em] text-[0.6rem] font-bold leading-none text-white"
            >1</span
          >
        </a>
        <!-- First dropdown menu -->
        <ul
          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
          aria-labelledby="dropdownMenuButton1"
          data-te-dropdown-menu-ref>
          <!-- First dropdown menu items -->
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Action</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Another action</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Something else here</a
            >
          </li>
        </ul>
      </div>

      <!-- Second dropdown container -->
      <div
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end">
        <!-- Second dropdown trigger -->
        <a
          class="hidden-arrow flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
          href="#"
          id="dropdownMenuButton2"
          role="button"
          data-te-dropdown-toggle-ref
          aria-expanded="false">
          <!-- User avatar -->
          <img
            src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg"
            class="rounded-full"
            style="height: 25px; width: 25px"
            alt=""
            loading="lazy" />
        </a>
        <!-- Second dropdown menu -->
        <ul
          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
          aria-labelledby="dropdownMenuButton2"
          data-te-dropdown-menu-ref>
          <!-- Second dropdown menu items -->
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Action</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Another action</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Something else here</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <!-- Fin navbar -->

    <!-- inicio Pedido -->
    <div
    class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 md:max-w-xl md:flex-row">
    <img
      class="h-96 w-full rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg"
      src="/images/sofá 2.png"
      alt="" />
    <div class="flex flex-col justify-start p-6">
      <p class="text-2xl my-3 mx-10">Precio:</p>
      <p class="text-2xl my-3 mx-10">Fecha:</p>
      <p class="text-2xl my-3 mx-10">Proveedor:</p>
      <p class="text-2xl my-3 mx-10">Color:</p>
      <p class="text-2xl my-3 mx-10">Tamaño:</p>
      <p class="text-2xl my-3 mx-10">Cantidad:</p>
      <p class="text-2xl my-3 mx-10">Métodos de pago:</p>

      <div class="container mx-auto my-4 flex gap-4 justify-center">
        <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
          data-te-ripple-color="light">
          <img src="/images/yape.png" class="w-32" alt="Yape" />
          <a href="#!">
            <div
              class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
            </div>
          </a>
        </div>


        <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
          data-te-ripple-color="light">
          <img src="/images/bbva.png" class="w-40" alt="Louvre" />
          <a href="#!">
            <div
              class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
            </div>
          </a>
        </div>

        <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
          data-te-ripple-color="light">
          <img src="/images/bcp.png" class="w-40" alt="Louvre" />
          <a href="#!">
            <div
              class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
            </div>
          </a>
        </div>

        <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
          data-te-ripple-color="light">
          <img src="/images/visa.png" class="w-40" alt="Louvre" />
          <a href="#!">
            <div
              class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
            </div>
          </a>
        </div>
      </div>
      <button
      type="button"
      class="inline-block rounded-full border-2 border-info px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
      data-te-ripple-init>
      Hacer pedido
    </button>

    <button
    type="button"
    class="my-3 inline-block rounded-full border-2 border-info px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
    data-te-ripple-init>
    Volver
  </button>
    </div>
  </div>

  <h1 class="font-bold text-center text-4xl my-10">CARACTERÍSTICAS DEL PRODUCTO</h1>

  <!-- inicio tabla -->

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table
            class="min-w-full border text-center text-sm font-light dark:border-neutral-500 mx-6">
            <thead class="border-b font-medium dark:border-neutral-500"></thead>
            <tbody>
              <tr class="border-b dark:border-neutral-500">
                <td
                  class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                  Dimensiones
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam laborum molestiae autem animi dolores, est neque aperiam, veritatis, sapiente suscipit?.
                </td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td
                  class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                  Materiales
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam laborum molestiae autem animi dolores, est neque aperiam, veritatis, sapiente suscipit?.
                </td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td
                  class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                  Ensamblaje
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam laborum molestiae autem animi dolores, est neque aperiam, veritatis, sapiente suscipit?.
                </td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td
                  class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                  Mantenimiento y Cuidado
                </td>
                <td
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam laborum molestiae autem animi dolores, est neque aperiam, veritatis, sapiente suscipit?.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- fin tabla -->

    <!-- fin Pedido -->

    <!-- inicio footer -->
   <!-- Footer container -->
   <footer class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left my-10">

    <!-- Main container div: holds the entire content of the footer, including four sections (TW elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
    <div class="mx-6 py-10 text-center md:text-left">
      <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
        <!-- TW elements section -->
        <div class="">
          <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-3 h-4 w-4">
              <path
                d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
            </svg>
            TW elements
          </h6>
          <p>
            Here you can use rows and columns to organize your footer
            content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </p>
        </div>
        <!-- Products section -->
        <div class="">
          <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            CONTÁCTANOS:
          </h6>
          <p class="mb-4">
            <a href="#!" class="text-neutral-600 dark:text-neutral-200">+51 984528530</a>
          </p>
          <p class="mb-4">
            <a href="#!" class="text-neutral-600 dark:text-neutral-200">+51 912565328</a>
          </p>
          <p class="mb-4">
            <a href="#!" class="text-neutral-600 dark:text-neutral-200">+51 970311999</a>
          </p>
          <p>
            <a href="#!" class="text-neutral-600 dark:text-neutral-200">(01) 611-5959</a>
          </p>
        </div>
        <!-- Useful links section -->
        <div class="">
          <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            POLÍTICA DE ENTREGA
          </h6>

          <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            TÉRMINOS Y CONDICIONES
          </h6>

          <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            AVISO DE PRIVACIDAD
          </h6>

        </div>
        <!-- Contact section -->
        <div>
          <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            MÉTODOS DE PAGO
          </h6>
          <div class="container mx-auto flex gap-4 justify-center">
            <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
              data-te-ripple-color="light">
              <img src="/images/yape.png" class="w-32" alt="Yape" />
              <a href="#!">
                <div
                  class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                </div>
              </a>
            </div>


            <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
              data-te-ripple-color="light">
              <img src="/images/bbva.png" class="w-40" alt="Louvre" />
              <a href="#!">
                <div
                  class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                </div>
              </a>
            </div>

            <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
              data-te-ripple-color="light">
              <img src="/images/bcp.png" class="w-40" alt="Louvre" />
              <a href="#!">
                <div
                  class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                </div>
              </a>
            </div>

            <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init
              data-te-ripple-color="light">
              <img src="/images/visa.png" class="w-40" alt="Louvre" />
              <a href="#!">
                <div
                  class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                </div>
              </a>
            </div>
          </div>
          </p>
        </div>
      </div>
    </div>

    <!--Copyright section-->
    <div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700">
      <span>© 2023 Copyright:</span>
      <a class="font-semibold text-neutral-600 dark:text-neutral-400" href="https://tw-elements.com/">La Gran Feria de
        Muebles</a>
    </div>
  </footer>
      <!-- fin footer -->


</body>
</html>